# Basics

## Operators

In [25]:
a = 9
b = 4

# Floor division
print(a // b)
# Remainder
print(a % b)

# Exponentiation
print(a ** b)

# Negation
print(-a)

2
1
6561
-9

## HELP

In [2]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

### Create function including help-notes

In [3]:
def least_difference(a, b, c):
    """Return the smallest difference between any two numbers
    among a, b and c.
    
    >>> least_difference(1, 5, -5)
    4
    """
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

In [4]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers
    among a, b and c.

    >>> least_difference(1, 5, -5)
    4

## Print

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [7]:
print(1, 2, 3)

1 2 3

In [9]:
print(1, 2, 3, sep=" < ")

1 < 2 < 3

## Arguments and default value's

In [10]:
def greet(who="Colin"):
    print("Hello,", who)

In [11]:
greet()
greet(who="Kaggle")
greet("world")

Hello, Colin
Hello, Kaggle
Hello, world

## Higher order functions

In [13]:
def mult_by_five(x):
    return 5 * x

def call(fn, arg):
    """Call fn on arg"""
    return fn(arg)

def squared_call(fn, arg):
    """Call fn on the result of calling fn on arg"""
    return fn(fn(arg))

print(
    call(mult_by_five, 1),
    squared_call(mult_by_five, 1),
    sep='\n'
)

5
25

In [14]:
def mod_5(x):
    """Return the remainder of x after dividing by 5"""
    return x % 5

print(
    'Which number is biggest?',
    max(100, 51, 14),
    'Which number is the biggest modulo 5?',
    max(100, 51, 14, key=mod_5),
    sep='\n',
)

Which number is biggest?
100
Which number is the biggest modulo 5?
14

In [15]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

### Booleans and conditionals

In [26]:
3.0 == 3

True

In [27]:
"3" == 3

False

In [29]:
True and False

False

In [30]:
print(bool(1))
print(bool(0))
print(bool("asf"))
print(bool(""))

True
False
True
False

In [33]:
def exactly_one_sauce(ketchup, mustard, onion):
    """Return whether the customer wants either ketchup or mustard, but not both.
    (You may be familiar with this operation under the name "exclusive or")
    """
    return (ketchup and not mustard) or (mustard and not ketchup)

In [32]:
def exactly_one_topping(ketchup, mustard, onion):
    """Return whether the customer wants exactly one of the three available toppings
    on their hot dog.
    """
    return (ketchup + mustard + onion) == 1

## Formatting

In [34]:
'%s, eggs and %s' % ('spam', 'SPAM!')

'spam, eggs and SPAM!'

In [35]:
'{}, eggs and {}'.format('spam', 'SPAM!')

'spam, eggs and SPAM!'

In [36]:
'{:,.2f}'.format(2995999.5684)

'2,995,999.57'

In [37]:
'%.2f | %+05d' % (3.154854, -42)

'3.15 | -0042'

## Lists

In [64]:
planets = [
    "mercury",
    "venus",
    "earth",
    "mars",
    "jupiter",
    "saturn",
    "uranus",
    "neptune",
]

In [65]:
planets[0], planets[-1] = planets[-1], planets[0]

In [66]:
planets

['neptune', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'mercury']

In [67]:
non_planets = [
    "ceres",
    "asteroïd belt",
    "pluto",
    "makemake",
    "kuiper belt",
    "eris",
]

In [68]:
system = [non_planets, planets]

In [69]:
system[1][0], system[1][-1] = system[1][-1], system[1][0]

In [70]:
stelsel

[['ceres', 'asteroïdengordel', 'pluto', 'makemake', 'kuipergordel', 'eris'],
 ['mercurius',
  'venus',
  'aarde',
  'mars',
  'jupiter',
  'saturnus',
  'uranus',
  'neptunus']]

In [71]:
len(planets)

8

In [72]:
len(system)

2

In [74]:
planets.index('earth')

2

In [77]:
'mars' in planets

True

In [78]:
planets[3:6]

['mars', 'jupiter', 'saturn']

In [80]:
planets[-3:]

['saturn', 'uranus', 'neptune']

In [82]:
planets.reverse()

In [83]:
planets

['neptune', 'uranus', 'saturn', 'jupiter', 'mars', 'earth', 'venus', 'mercury']

In [84]:
planets.remove("earth")

In [85]:
planets

['neptune', 'uranus', 'saturn', 'jupiter', 'mars', 'venus', 'mercury']

help(planets) for more ...

In [87]:
M = [[1, 2, 3], 
     [4, 5, 6], 
     [7, 8, 9]]

In [89]:
M * 2

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Comprehensions

In [94]:
[row[1] for row in M]

[2, 5, 8]

In [95]:
[row[1] for row in M if row[1] % 2 == 0]

[2, 8]

In [96]:
[M[i][i] for i in [0, 1, 2]]

[1, 5, 9]

In [105]:
R = (sum(row) for row in M)
next(R)

6

In [106]:
next(R)

15

In [107]:
next(R)

24

In [108]:
list(map(sum, M))

[6, 15, 24]

In [109]:
{sum(row) for row in M}

{6, 15, 24}

In [111]:
{i: sum(M[i]) for i in range(3)}

{0: 6, 1: 15, 2: 24}

## Dictionaries

In [117]:
D = {
    "first": "Steven",
    "last": "D'Hondt",
    "gender": "male",
    "age": 30,
    "job": "developer",
}

In [118]:
D['first']

'Steven'

In [119]:
D['age'] += 1

In [120]:
D

{'first': 'Steven',
 'last': "D'Hondt",
 'gender': 'male',
 'age': 31,
 'job': 'developer'}

In [127]:
E = {}

In [128]:
E['first'] = 'John'
E['last'] = 'Doe'
E['gender'] = 'unkown'
E['age'] = None
E['job'] = 'hero'

In [129]:
E

{'first': 'John',
 'last': 'Doe',
 'gender': 'unkown',
 'age': None,
 'job': 'hero'}

In [130]:
F = dict(first='Jane', last='Doe', gender='unknown', age=None, job='hero')

In [131]:
F

{'first': 'Jane',
 'last': 'Doe',
 'gender': 'unknown',
 'age': None,
 'job': 'hero'}

In [132]:
G = {
    "name": {"first": "Steven", "last": "D'Hondt"},
    "gender": "male",
    "age": 30,
    "job": "developer",
}

In [133]:
G['name']['last']

"D'Hondt"

In [134]:
'first' in G

False

In [135]:
'name' in G

True

In [137]:
G['age'] == 31

False

In [138]:
G.get('address', 'No address in record')

'No address in record'

### To sort dictionaries

In [141]:
Keys = list(G.keys())
Keys.sort()
for key in Keys:
    print(G[key])

30
male
developer
{'first': 'Steven', 'last': "D'Hondt"}

In [143]:
for key in sorted(F):
    print(F[key])

None
Jane
unknown
hero
Doe