# Pandas

In [3]:
import pandas as pd
import numpy as np

## Creating series

In [5]:
planet_distances = pd.Series(
    [
        57910000,
        108200000,
        149600000,
        227900000,
        778500000,
        1434000000,
        2871000000,
        4495000000,
    ]
)

In [6]:
planet_distances.name = 'Planet distances from sun'

In [7]:
planet_distances

0      57910000
1     108200000
2     149600000
3     227900000
4     778500000
5    1434000000
6    2871000000
7    4495000000
Name: Planet distances from sun, dtype: int64

In [9]:
planet_distances.index = [
    'Mercury',
    'Venus',
    'Earth',
    'Mars',
    'Jupiter',
    'Saturn',
    'Uranus',
    'Neptune',
]

In [10]:
planet_distances

Mercury      57910000
Venus       108200000
Earth       149600000
Mars        227900000
Jupiter     778500000
Saturn     1434000000
Uranus     2871000000
Neptune    4495000000
Name: Planet distances from sun, dtype: int64

## Other notations

In [16]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [14]:
pd.Series(
    [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
    name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

## Selection

In [17]:
pd.Series(planet_distances, index=['Venus', 'Earth', 'Mars'])

Venus    108200000
Earth    149600000
Mars     227900000
Name: Planet distances from sun, dtype: int64

In [18]:
planet_distances['Jupiter']

778500000

In [19]:
planet_distances.iloc[-1]

4495000000

In [21]:
planet_distances[['Mercury', 'Neptune']]

Mercury      57910000
Neptune    4495000000
Name: Planet distances from sun, dtype: int64

In [22]:
planet_distances.iloc[[0,-1]]

Mercury      57910000
Neptune    4495000000
Name: Planet distances from sun, dtype: int64

In [23]:
planet_distances['Mercury':'Mars']

Mercury     57910000
Venus      108200000
Earth      149600000
Mars       227900000
Name: Planet distances from sun, dtype: int64

In [24]:
planet_distances[planet_distances > 300000000]

Jupiter     778500000
Saturn     1434000000
Uranus     2871000000
Neptune    4495000000
Name: Planet distances from sun, dtype: int64

## Functions

In [25]:
planet_distances.mean()

1265263750.0

In [26]:
planet_distances.std()

1620948786.1649556

In [27]:
np.log(planet_distances)

Mercury    17.874401
Venus      18.499492
Earth      18.823476
Mars       19.244417
Jupiter    20.472880
Saturn     21.083734
Uranus     21.777926
Neptune    22.226232
Name: Planet distances from sun, dtype: float64

## Transform to Booleans

In [28]:
planet_distances > 300000000

Mercury    False
Venus      False
Earth      False
Mars       False
Jupiter     True
Saturn      True
Uranus      True
Neptune     True
Name: Planet distances from sun, dtype: bool

## Operations

In [29]:
planet_distances / 1000000

Mercury      57.91
Venus       108.20
Earth       149.60
Mars        227.90
Jupiter     778.50
Saturn     1434.00
Uranus     2871.00
Neptune    4495.00
Name: Planet distances from sun, dtype: float64

In [30]:
planet_distances['Earth'] - planet_distances['Venus']

41400000

In [31]:
planet_distances[planet_distances < 300000000] = 'Close to the sun'

In [32]:
planet_distances

Mercury    Close to the sun
Venus      Close to the sun
Earth      Close to the sun
Mars       Close to the sun
Jupiter           778500000
Saturn           1434000000
Uranus           2871000000
Neptune          4495000000
Name: Planet distances from sun, dtype: object