# Pandas

In [3]:
import pandas as pd
import numpy as np

## Creating series

In [5]:
planet_distances = pd.Series(
    [
        57910000,
        108200000,
        149600000,
        227900000,
        778500000,
        1434000000,
        2871000000,
        4495000000,
    ]
)

In [6]:
planet_distances.name = 'Planet distances from sun'

In [7]:
planet_distances

0      57910000
1     108200000
2     149600000
3     227900000
4     778500000
5    1434000000
6    2871000000
7    4495000000
Name: Planet distances from sun, dtype: int64

In [9]:
planet_distances.index = [
    'Mercury',
    'Venus',
    'Earth',
    'Mars',
    'Jupiter',
    'Saturn',
    'Uranus',
    'Neptune',
]

In [10]:
planet_distances

Mercury      57910000
Venus       108200000
Earth       149600000
Mars        227900000
Jupiter     778500000
Saturn     1434000000
Uranus     2871000000
Neptune    4495000000
Name: Planet distances from sun, dtype: int64

In [11]:
g7_populations = pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64